body {background-color: lightblue;}
h3 {color: darkgreen;text-align: center;}
h1 {text-align: center;}
li{border-style: solid;
  border-color: darkblue;}
 img {border-radius: 50%}
 li {
  background: #ff9999;
  padding: 20px;}

h2 {color: darkblue}
li {color: white}
li {font-size: 20px
}
 
